*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide1 {
    background: rgb(234, 234, 13) url(./image/sprite-cherry-pdp-image-12ozcan-desktop.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slide2 {
    background: rgb(223, 53, 19) url(./image/sprite-pdp-image-12ozcan-desktop.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
}